.root {
    -fx-font-family: "Montserrat";
}

.panel-menu {
    -fx-background-color: rgba(18, 15, 40, 0.52);

    -fx-background-radius: 28px;
    -fx-padding:
            38px
            55px
            45px
            55px;

    -fx-border-color: rgba(255, 255, 255, 0.14);
    -fx-border-width: 1px;
    -fx-border-radius: 28px;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0, 0, 0, 0.45),
            30,
            0.3,
            0,
            8
    );
}

.titulo {
    -fx-font-family: "Cinzel Decorative";
    -fx-font-size: 54px;
    -fx-font-weight: bold;

    -fx-text-fill: #f8f5ff;

    -fx-effect: dropshadow(
            gaussian,
            rgba(120, 95, 220, 0.95),
            20,
            0.45,
            0,
            3
    );
}

.subtitulo {
    -fx-font-family: "Montserrat";
    -fx-font-size: 15px;

    -fx-text-fill: rgba(245, 242, 255, 0.85);

    -fx-effect: dropshadow(
            gaussian,
            rgba(0, 0, 0, 0.65),
            6,
            0.3,
            0,
            2
    );
}


.boton-menu {
    -fx-pref-width: 240px;
    -fx-pref-height: 52px;

    -fx-background-color: rgba(28, 24, 58, 0.82);

    -fx-background-radius: 18px;

    -fx-border-color: rgba(205, 195, 255, 0.55);

    -fx-border-width: 1.5px;
    -fx-border-radius: 18px;

    -fx-text-fill: #f5f2ff;

    -fx-font-family: "Montserrat";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

    -fx-cursor: hand;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0, 0, 0, 0.40),
            12,
            0.3,
            0,
            5
    );
}

.boton-menu:hover {
    -fx-background-color: rgba(82, 68, 150, 0.95);

    -fx-border-color: rgba(255, 255, 255, 0.95);

    -fx-effect: dropshadow(
            gaussian,
            rgba(190, 175, 255, 0.65),
            18,
            0.45,
            0,
            3
    );
}

.boton-menu:pressed {
    -fx-background-color: rgba(104, 88, 180, 0.95);
    -fx-translate-y: 1px;
}